  <h1>Dice Roll</h1>
  <ul>
  <li><a href= https://solid-space-memory-9jqpvv557jjhpwxr-4567.app.github.dev/dice/2/6>Roll two six-sided dice</a></li>
  <li><a href= https://solid-space-memory-9jqpvv557jjhpwxr-4567.app.github.dev/dice/2/10>Roll two ten-sided dice</a></li>
  <li><a href= https://solid-space-memory-9jqpvv557jjhpwxr-4567.app.github.dev/dice/1/20>Roll one twenty-sided die</a></li>
  <li><a href= https://solid-space-memory-9jqpvv557jjhpwxr-4567.app.github.dev/dice/5/4>Roll five four-sided dice</a></li>
  </ul>
